
.card{    
    font-family: 'Montserrat', sans-serif;
    height: 600px;
    transition: all 0.3s ease;
    background-color: #fff;
    margin:  1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
img{
    padding: 30px;
    margin: auto;
    display: block;
}

.card:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
} 

.title{    
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}

.sub-title{
    font-size: 1rem;
    margin: 1rem;
}

.favorite{
    font-family: 'Montserrat', sans-serif;
    
}